@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fredoka&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  /* font-family: 'Fredoka', sans-serif; */
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.burger-menu {
  display: none;
}

.content-container {
  min-height: 300px;
}

header {
  background-color: #000;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 2;
}

header h1 {
  color: #900007;
  margin: 0;
  position: relative;
  width: 200px;
}

header h1::after {
  bottom: 5px;
  color: #fff;
  content: 'Web Developer';
  font-size: 18px;
  position: absolute;
  left: calc(100% + 5px);
  width: 125px;
}

header span {
  color: #fff;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

main {
  color: #fff;
  background-color: #000;
  min-height: 100%;
}

.navigation-links-container {
  /* background-color: #000; */
  position: relative;
  /* outline: solid 1px blue; */
}

.navigation-links-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  /* outline: solid 1px blue; */
}

.navigation-links-container a {
  color: #fff;
  margin: 0 15px 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-links-container a:hover {
  color: #9001be;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 2px 2px #000;
  -webkit-transition: all 250ms ease-in-out;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  bottom: 5px;
  box-shadow: 0 2px 2px #000;
  color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 25px;
  height: 35px;
  justify-content: center;
  left: -60px;
  padding-bottom: 5px;
  position: fixed;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
  transition: all 250ms ease-in-out;
  width: 35px;
  z-index: 3;
}

.up-arrow:hover {
  color: #808080;
}

@media (max-width: 1300px) {
}

@media (max-width: 1000px) {
}

@media (max-width: 700px) {
  .burger-menu {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 0;
    /* transform: translateY(-50%); */
    width: 45px;
    z-index: 2;
    /* outline: solid 1px blue; */
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-bars {
    -o-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    background-color: #fff;
    border-radius: 5px;
    height: 2px;
    margin: 2px 0;
    opacity: 1;
    transition: all 250ms ease;
    width: 30px;
  }

  .burger-bars-remove {
    opacity: 0;
  }

  .burger-bars-rotate-clockwise {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #3ddbcf;
    height: 3px;
    position: absolute;
    top: 15px;
    transform: rotate(45deg);
  }

  .burger-bars-rotate-counter-clockwise {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #3ddbcf;
    height: 3px;
    position: absolute;
    top: 15px;
    transform: rotate(-45deg);
  }

  .burger-overlay {
    -webkit-transition: all 500ms ease;
    background-color: #000;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 500ms ease;
    width: 0;
    z-index: 1;
  }

  .burger-overlay-dim {
    opacity: 1;
    width: 100%;
  }

  .navigation-links-container {
    position: absolute;
    right: -100%;
    top: 100%;
    transition: right 500ms ease;
    /* outline: solid 1px blue; */
  }

  .navigation-links-container a {
    margin: 0;
  }

  .navigation-links-container li {
    margin-bottom: 25px;
  }

  .navigation-links-container ul {
    flex-direction: column;
    padding: 15px 10px 0 10px;
  }

  .show-navigation-links {
    right: 0;
  }
}

@media (max-width: 400px) {
}
