@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fredoka&display=swap');

/* FONT COLORS */
.blue-text {
  color: #5786dc;
}
.green-text {
  color: #4be574;
}
.purple-text {
  color: #9654dd;
}
.red-text {
  color: #c00022;
}
.yellow-text {
  color: #ffc354;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  height: 100vh;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.burger-menu {
  display: none;
}

.certification-container {
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px auto 0 auto;
  width: 80%;
  /* outline: solid 1px blue; */
}

.certification-container div {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  position: relative;
  /* outline: solid 1px blue; */
}

.certification-container img {
  width: 600px;
}

.certification-container span {
  background-color: #ffc354;
  bottom: 0;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  left: 0;
  padding: 2px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

#contact,
#education,
#me,
#projects,
#work {
  left: 0;
  position: absolute;
  top: -115px;
}

.content-container {
  min-height: 300px;
  padding: 20px 40px 20px 40px;
  position: relative;
  /* outline: solid 1px blue; */
}

.content-container h2 {
  -webkit-transition: color 150ms ease;
  border-bottom: solid 1px #fff;
  font-size: 28px;
  margin: 0 0 20px 0;
  transition: color 150ms ease;
  width: 350px;
}

.content-container ul {
  list-style-type: none;
  width: 80%;
}

.content-container li {
  font-family: 'Fredoka', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  /* font-weight: bold; */
}

.content-li-date {
  font-size: 24px;
  /* font-weight: bold; */
}

.content-text {
  font-family: 'Fredoka', sans-serif;
  font-size: 22px;
  margin: 20px 0 0 0;
  width: 80%;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  min-height: 100px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.footer-logo {
  margin-top: 10px;
  width: 75px;
}

.footer-logo img {
  width: 100%;
}

.github-link {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.github-link:hover,
.navigation-links-container a:hover,
.resume-container a:hover,
.social-media-container a:hover,
.spc-link:hover,
.up-arrow:hover {
  color: #4be574;
}

.greeting {
  padding: 0 40px 20px 40px;
}

.greeting h1 {
  font-size: 32px;
  margin: 0;
  text-align: center;
}

header {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background-color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  padding: 0 0 20px 5px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header h1 {
  display: inline;
  font-size: 34px;
  margin: 0;
  position: relative;
  width: auto;
  /* outline: solid 1px blue; */
}

header h1::after {
  bottom: 0;
  color: #ffc354;
  content: 'Web Developer';
  font-size: 20px;
  padding: 0 0 5px 0;
  position: absolute;
  left: 100%;
  width: 100%;
  /* outline: solid 1px blue; */
}

.header-logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 75px;
  /* outline: solid 1px blue; */
}

.header-logo img {
  width: 100%;
}

header span {
  font-size: 18px;
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.image-of-me {
  border-radius: 50%;
  margin: 0 15px 0 0;
  width: 300px;
}

.image-text-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
}

main {
  color: #fff;
  background-color: #000;
  min-height: 100%;
  padding-top: 130px;
}

.navigation-links-container {
  position: relative;
  /* outline: solid 1px blue; */
}

.navigation-links-container a {
  -webkit-transition: color 150ms ease;
  font-family: 'Fredoka', sans-serif;
  font-size: 20px;
  margin: 0 15px 0 15px;
  overflow: hidden;
  padding: 0 0 15px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 150ms ease;
  /* outline: solid 1px red; */
}

.navigation-link-dot {
  -webkit-transform: translateX(-50%);
  -webkit-transition: all 150ms ease;
  bottom: -15px;
  font-size: 14px;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 150ms ease;
}

.active {
  bottom: 0;
  opacity: 1;
}

.navigation-links-container ul {
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* outline: solid 1px blue; */
}

.next {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 5px;
  right: 0;
}

.next,
.prev {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transform: translateY(-50%);
  -webkit-transition: color 250ms ease;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 50px;
  height: 60px;
  justify-content: center;
  position: absolute;
  text-shadow: 0 2px 2px #000;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms ease;
  width: 40px;
}

.next:hover,
.prev:hover {
  color: #4be574;
}

.photo-caption {
  background-color: #000;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding: 0 0 0 10px;
}

.prev {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
  padding-right: 5px;
}

.project-container {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  margin: 15px auto 0 auto;
  overflow: hidden;
  width: 80%;
  /* outline: solid 1px blue; */
}

.project-photo-1 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/ghibli.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/ghibli.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-2 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/buddha.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/buddha.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-3 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/shine.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/shine.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-4 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/breathe.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/breathe.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-5 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/summit.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/summit.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-6 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/fur.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/fur.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo-7 {
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 1)),
      color-stop(40%, rgba(0, 0, 0, 0))
    ),
    url('img/speach.jpeg');
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 40%
    ),
    url('img/speach.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-photo {
  height: 100%;
  width: 100%;
}

.project-photo-title {
  bottom: 0;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 0 0 0 10px;
  position: absolute;
  text-transform: uppercase;
}

.resume-container {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 40px;
  height: 150px;
  justify-content: center;
  margin: auto;
  width: 700px;
  /* outline: solid 1px blue; */
}

.resume-container a {
  overflow: hidden;
  padding-bottom: 15px;
  position: relative;
  /* outline: solid 1px blue; */
}

.resume-container a,
.social-media-container i,
.spc-link {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.resume-container a:hover .social-media-name,
.social-media-container a:hover .social-media-name {
  bottom: -2px;
}

.slide {
  -webkit-transform: translateX(150%);
  -webkit-transition: all 1000ms ease;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: translateX(150%);
  transition: all 1000ms ease;
  width: 100%;
}

.slide a {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.slide a:hover {
  color: #4be574;
}

.slide-container {
  height: 500px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  /* outline: solid 1px red; */
}

.slide.current {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}

.social-media-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  height: 150px;
  justify-content: space-around;
  margin: auto;
  width: 700px;
  /* outline: solid 1px blue; */
}

.social-media-container a {
  overflow: hidden;
  padding: 0 20px 15px 20px;
  position: relative;
  /* outline: solid 1px red; */
}

.social-media-name {
  -webkit-transform: translateX(-50%);
  -webkit-transition: bottom 150ms ease;
  bottom: -20px;
  font-size: 16px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: bottom 150ms ease;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: -2px 2px 5px #000;
  -webkit-transition: all 150ms ease;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 25%;
  box-shadow: -2px 2px 5px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 60px;
  justify-content: center;
  padding-bottom: 10px;
  position: fixed;
  right: -60px;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
  transition: all 150ms ease;
  width: 40px;
  z-index: 3;
}

@media (max-width: 1300px) {
  .certification-container,
  .content-container ul,
  .content-text,
  .project-container {
    width: 90%;
  }

  .certification-container img {
    width: 500px;
  }

  .image-of-me {
    width: 200px;
  }

  .project-container {
    height: 500px;
  }

  .project-photo-title {
    font-size: 22px;
  }

  .slide-container {
    height: 400px;
    width: 800px;
  }
}

@media (max-width: 1000px) {
  .project-container {
    height: 450px;
  }

  .slide-container {
    height: 350px;
    width: 700px;
  }

  .resume-container {
    height: 125px;
    font-size: 35px;
    width: 400px;
  }
}

@media (max-width: 700px) {
  .burger-menu {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 45px;
    z-index: 2;
    /* outline: solid 1px blue; */
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-bars {
    -o-transition: all 250ms ease;
    -webkit-transition: all 150ms ease;
    background-color: #9654dd;
    border-radius: 5px;
    height: 2px;
    margin: 3px 0;
    opacity: 1;
    transition: all 150ms ease;
    width: 35px;
  }

  .burger-bars-remove {
    opacity: 0;
  }

  .burger-bars-rotate-clockwise {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #4be574;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
  }

  .burger-bars-rotate-counter-clockwise {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #4be574;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
  }

  .burger-overlay {
    -webkit-transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 500ms ease;
    width: 0;
    z-index: 1;
  }

  .burger-overlay-dim {
    opacity: 1;
    width: 100%;
  }

  .certification-container {
    width: 100%;
  }

  .certification-container div {
    margin: 20px 0;
  }

  .certification-container img {
    width: 400px;
  }

  .content-container,
  .greeting {
    padding: 15px 15px 25px 15px;
  }

  .content-container h2 {
    font-size: 24px;
    width: 100%;
  }

  .content-container ul {
    padding: 0;
    width: 100%;
  }

  .content-container li {
    font-size: 20px;
  }

  .content-li-date {
    font-size: 22px;
  }

  .content-text {
    font-size: 20px;
    width: 100%;
  }

  .footer-logo {
    width: 50px;
  }

  .github-link:hover,
  .next:hover,
  .photo-caption a:hover,
  .prev:hover,
  .resume-container a:hover,
  .social-media-container a:hover,
  .spc-link:hover,
  .up-arrow:hover {
    color: #9654dd;
  }

  .greeting h1 {
    font-size: 28px;
  }

  header {
    height: 110px;
    padding: 0 0 0 5px;
  }

  header h1 {
    font-size: 30px;
  }

  header h1::after {
    font-size: 16px;
  }

  .header-logo {
    right: 5px;
    top: 5px;
    width: 50px;
  }

  .header span {
    font-size: 18px;
  }

  .image-of-me {
    margin: 0 0 0 0;
    width: 150px;
  }

  .image-text-container {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  main {
    padding-top: 120px;
  }

  .navigation-links-container {
    -webkit-transition: right 500ms ease;
    background-color: #000;
    padding-left: 20px;
    position: absolute;
    right: -100%;
    top: 100%;
    transition: right 500ms ease;
    /* outline: solid 1px blue; */
  }

  .navigation-links-container a {
    font-size: 26px;
    margin: 0;
    padding: 0 0 0 15px;
  }

  .navigation-link-dot {
    -webkit-transform: translate(-50%, 50%);
    bottom: 50%;
    left: 0;
    position: absolute;
    transform: translate(-50%, 50%);
  }

  .navigation-links-container li {
    margin-bottom: 25px;
  }

  .navigation-links-container ul {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    padding: 15px 20px 0 0;
  }

  .next,
  .prev {
    -webkit-transform: translateY(0);
    font-size: 42px;
    height: 45px;
    top: 0;
    transform: translateY(0);
    width: 40px;
  }

  .next {
    border-top-left-radius: 0;
    right: 0;
  }

  .photo-caption {
    line-height: 25px;
    padding: 0 0 0 0;
  }

  .prev {
    border-top-right-radius: 0;
    left: 0;
  }

  .project-container {
    height: 415px;
    width: 100%;
  }

  .project-photo-title {
    font-size: 20px;
    padding: 0 0 0 0;
  }

  .slide {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .slide-container {
    height: 300px;
    width: 100%;
  }

  .show-navigation-links {
    right: 0;
  }

  .social-media-container {
    font-size: 40px;
    height: 125px;
    width: 400px;
  }

  .social-media-container a {
    padding: 0;
  }

  .social-media-name {
    display: none;
  }

  .up-arrow {
    bottom: 10px;
    font-size: 30px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  .certification-container img {
    width: 100%;
  }

  header h1 {
    font-size: 26px;
    /* width: 100%; */
    /* outline: solid 1px blue; */
  }

  header span {
    font-size: 14px;
  }

  .project-container {
    height: 480px;
  }

  .resume-container {
    height: 100px;
    font-size: 30px;
    width: 100%;
  }

  .social-media-container {
    font-size: 30px;
    height: 100px;
    width: 100%;
  }
}
