@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

@keyframes animateLogo {
  0%{
    right: -95px;
  }
  100%{
    right: 15px;
  }
}

*{
  box-sizing: border-box;
}

.about-container, .education-container, .projects-container, .work-container, .contact-container{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 100%;
  line-height: 25px;
  margin: 20px auto;
  max-width: 85%;
  padding: 20px;
  text-shadow: -1px 1px 1px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}
.about-photo-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.about-photo-text{
  max-width: 70%;
}
.about-photo{
  border-left: solid 1px rgb(255,140,0);
  border-right: solid 1px rgb(255,0,255);
  margin: 50px auto;
  max-width: 300px;
  padding: 20px;
}
.about-photo img{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}

.animation{
  animation: animateLogo 2s ease-in-out;
  animation-iteration-count: 1;
}

body{
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.9)), url('img/atom-background.jpg');
  background-image: -o-linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.9)), url('img/atom-background.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.9)), url('img/atom-background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

.closing{
  max-width: 100%;
  padding: 30px;
  text-align: center;
}

.degrees{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 300px;
}

.degree-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.degree-container-div{
  border: solid 1px #fff;
  color: rgb(255,0,255);
  padding: 20px;
  position: relative;
}
.degree-container-div:nth-child(1) {
 color: rgb(255,99,71);
}

.degree-text{
  bottom: 0;
  font-size: 22px;
  left: 0;
  padding-left: 5px;
  position: absolute;
  text-shadow: -1px 1px 1px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
  width: 100%;
}

fieldset {
  border-bottom: none;
  border-left: solid 1px rgb(255,140,0);
  border-right: solid 1px rgb(255,0,255);
  border-top: none;
  line-height: 25px;
  margin: auto;
  max-width: 80%;
  text-align: left;
}

.fixed {
  position: fixed;
  top: 0;
}

.footer-container{
  align-items: center;
  background: -webkit-linear-gradient(left, rgb(255,140,0), rgb(255,0,255));
  background: -o-linear-gradient(left, rgb(255,140,0), rgb(255,0,255));
  background: linear-gradient(to right, rgb(255,140,0), rgb(255,0,255));
  border-top: solid 1px #000;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 50px;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  text-shadow: -1px 1px 1px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

.footer-image{
  width: 40px;
  margin-right: 10px;
}

.header{
  background-color: #000;
  padding: 10px 0 0 10px;
  position: relative;
  width: 100%;
}

.heading{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin: 0;
}
.heading-span{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

html{
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

h3{
  background: -webkit-linear-gradient(left, rgb(255,140,0), rgb(255,0,255));
  background: -o-linear-gradient(left, rgb(255,140,0), rgb(255,0,255));
  background: linear-gradient(to right, rgb(255,140,0), rgb(255,0,255));
  margin: 0;
  height: 100px;
  position: relative;
  width: 100%;
}
h3::after, h3::before{
  bottom: -35px;
  content: '';
  height: 175px;
  position: absolute;
  width: 25px;
  z-index: -1;
}
h3::after{
  background: rgb(255,0,255);
  right: 0;
}
h3::before{
  background: rgb(255,140,0);
  left: 0;
}

h4{
  color: rgb(255,0,255);
  font-size: 25px;
}

.horizontal:before {
  background: linear-gradient(to right, rgb(255,140,0), rgb(255,0,255));
  border-radius: 5px;
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 200ms ease-out;
}
.horizontal:hover:before {
  width: 100%;
}

li{
  list-style-type: none;
}

.logo{
  height: 75%;
  position: absolute;
  right: 15px;
  top: 5px;
}

.main-container{
  height: auto;
  padding-bottom: 25px;
  width: 100%;
}

.nav-button{
  align-items: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  height: 100%;
  justify-content: center;
  margin: 0 20px;
  padding: 20px 0;
  position: relative;
  text-decoration: none;
  transition: all 150ms ease-in;
  max-width: 200px;
}

.nav-container{
  border-bottom: solid 1px #fff;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  z-index: 100;
}

.purple {
  color: rgb(255,0,255);
}

#r1:checked ~ .slide1{
  margin-left: 0;
}
#r2:checked ~ .slide1{
  margin-left: -700px;
}
#r3:checked ~ .slide1{
  margin-left: -1400px;
}
#r4:checked ~ .slide1{
  margin-left: -2100px;
}
#r5:checked ~ .slide1{
  margin-left: -2800px;
}
#r6:checked ~ .slide1{
  margin-left: -3500px;
}
#r7:checked ~ .slide1{
  margin-left: -4200px;
}
#r8:checked ~ .slide1{
  margin-left: -4900px;
}

.slideshow{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 10px auto;
  height: 400px;
  max-width: 700px;
  overflow: hidden;
  position: relative;
}
input[name='r']{
  visibility: hidden;
  position: absolute;
}

.slideshow-bar{
  background: rgba(0,0,0,0.85);
  border: solid 1px #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 18px;
  margin: 5px 10px;
  transition: 250ms;
  width: 60px;
}
.slideshow-bar:hover{
  background: rgba(255,255,255,0.75);
  cursor: pointer;
}

.slideshow-navigation{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  position: relative;
}

.slides{
  display: flex;
  height: 100%;
  width: 500%;
}

.slide{
  position: relative;
  transition: 250ms;
}
.slide:hover{
  transform: scale(0.9);
}
.slide img{
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: 700px;
}

.slide-caption{
  background-color: rgba(0,0,0,0.75);
  border-bottom-left-radius: 10px;
  bottom: 0;
  color: #fff;
  left: 0;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}

.slide-count{
  background: #000;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  padding: 0 5px;
  position: absolute;
  right: 0;
}

.slide-use{
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.social-media-button{
  color: #fff;
  font-size: 60px;
  padding-bottom: 20px;
  position: relative;
  transition: all 200ms ease-in;
}
.social-media-button:hover{
  cursor: pointer;
}

.social-media-container{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px auto 0 auto;
  max-width: 60%;
  position: relative;
}

.social-media-logo{
  height: 100px;
  margin: auto;
}

.social-media-logo-container{
  align-items: center;
  display: grid;
  justify-content: center;
}

.social-media-pdf{
  background: rgba(0,0,0,0.85);
  border: solid 1px #fff;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms ease-in;
}
.social-media-pdf:hover{
  background: rgba(255,255,255,0.75);
  cursor: pointer;
}

.tomatoe {
  color: rgb(255,99,71);
  list-style-type: none;
  margin-bottom: 5px;
}

ul{
  padding: 0;
}

.up-arrow{
  color: rgb(255,99,71);
  text-align: center;
}


@media (max-width: 1000px) {

  .about-container, .education-container, .projects-container, .work-container, .contact-container{
    font-size: 18px;
    max-width: 90%;
  }

  .about-photo-container{
    flex-direction: column;
  }
  .about-photo-text{
    max-width: 100%;
  }

  .degree-text{
    font-size: 20px;
  }

  .degree-container{
    align-items: center;
    flex-direction: column;
  }
  .degree-container div{
    margin-bottom: 20px;
  }

  h4{
    font-size: 22px;
  }

  .nav-button{
    font-size: 25px;
  }

  #r2:checked ~ .slide1{
    margin-left: -600px;
  }
  #r3:checked ~ .slide1{
    margin-left: -1200px;
  }
  #r4:checked ~ .slide1{
    margin-left: -1800px;
  }
  #r5:checked ~ .slide1{
    margin-left: -2400px;
  }
  #r6:checked ~ .slide1{
    margin-left: -3000px;
  }
  #r7:checked ~ .slide1{
    margin-left: -3600px;
  }
  #r8:checked ~ .slide1{
    margin-left: -4200px;
  }

  .slideshow{
    height: 300px;
    width: 600px;
  }

  .slide img{
    width: 600px;
  }

  .social-media-button{
    font-size: 50px;
  }

  .social-media-container{
    max-width: 80%;
  }

  .social-media-logo{
    height: 75px;
  }
}

@media (max-width: 700px){

  .about-container, .education-container, .projects-container, .work-container, .contact-container{
    font-size: 16px;
    max-width: 100%;
  }

  .about-photo{
    margin: 20px auto;
    max-width: 250px;
    padding: 20px 40px;
  }

  .degrees{
    max-width: 250px;
  }

  .degree-text{
    font-size: 18px;
  }

   fieldset{
     font-size: 16px;
     max-width: 90%;
   }

  .heading{
    font-size: 30px;
  }
  .heading-span{
    font-size: 14px;
  }

  h3{
    height: 50px;
  }

  h3::after, h3::before{
    bottom: -15px;
    height: 80px;
    width: 20px;
  }

  .logo{
    max-height: 50%;
  }

  .nav-button{
    font-size: 20px;
    margin: 0 5px;
  }

  #r2:checked ~ .slide1{
    margin-left: -400px;
  }
  #r3:checked ~ .slide1{
    margin-left: -800px;
  }
  #r4:checked ~ .slide1{
    margin-left: -1200px;
  }
  #r5:checked ~ .slide1{
    margin-left: -1600px;
  }
  #r6:checked ~ .slide1{
    margin-left: -2000px;
  }
  #r7:checked ~ .slide1{
    margin-left: -2400px;
  }
  #r8:checked ~ .slide1{
    margin-left: -2800px;
  }

  .slideshow{
    border: solid 1px #fff;
    height: 200px;
    width: 400px;
  }
  .slideshow-bar{
    height: 15px;
    width: 45px;
  }

  .slide-count{
    bottom: 0;
    right: 0;
  }

  .slide img{
    border: none;
    width: 400px;
  }

  .slide:hover{
    transform: none;
  }

  .social-media-button{
    font-size: 40px;
  }

  .social-media-logo{
    height: 50px;
  }

}

@media (max-width: 500px){

  .heading{
    margin-bottom: 0;
  }

  h4{
    font-size: 18px;
  }

  .logo{
    animation: none;
    right: 5px;
  }

  .nav-button{
    font-size: 16px;
    margin: 0 5px;
  }

  #r2:checked ~ .slide1{
    margin-left: -300px;
  }
  #r3:checked ~ .slide1{
    margin-left: -600px;
  }
  #r4:checked ~ .slide1{
    margin-left: -900px;
  }
  #r5:checked ~ .slide1{
    margin-left: -1200px;
  }
  #r6:checked ~ .slide1{
    margin-left: -1500px;
  }
  #r7:checked ~ .slide1{
    margin-left: -1800px;
  }
  #r8:checked ~ .slide1{
    margin-left: -2100px;
  }

  .slideshow{
    height: 150px;
    width: 300px;
  }

  .slideshow-bar{
    height: 15px;
    width: 45px;
  }

  .slide img{
    width: 300px;
  }

  .slide-caption{
    font-size: 14px;

  }

  .social-media-button{
    font-size: 30px;
  }

  .social-media-container{
    max-width: 90%;
  }
}
