@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* FONT COLORS */
.blue-text {
  /* color: #5786dc; */
  color: #48e2e2;
}
.green-text {
  color: #4be574;
}
.purple-text {
  /* color: #9654dd; */
  color: #a567e7;
}
.red-text {
  /* color: #FC9BC4; */
  color: #f54e94;
}
.yellow-text {
  /* color: #ffc354; */
  color: #ffa052;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  font-family: "Raleway", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.burger-menu {
  display: none;
}

.certification-container {
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px auto 0 auto;
  width: 80%;
  /* outline: solid 1px blue; */
}

.certification-container div {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px 10px;
  position: relative;
  /* outline: solid 1px blue; */
}

.certification-container img {
  width: 600px;
}

.certification-container span {
  background-color: #000;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

#contact,
#education,
#me,
#projects,
#qualities,
#work {
  left: 0;
  position: absolute;
  top: -115px;
}

.container-heading-underline {
  -webkit-transition: width 250ms ease;
  background-color: #4be574;
  height: 2px;
  left: 0;
  position: absolute;
  top: 100%;
  transition: width 250ms ease;
  width: 0;
}

.content-container {
  min-height: 300px;
  padding: 20px 40px 20px 40px;
  position: relative;
  text-shadow: 0 2px 2px #000;
  /* outline: solid 1px blue; */
}

.content-container h2 {
  font-size: 28px;
  font-style: italic;
  margin: 0 0 20px 0;
  position: relative;
  width: 350px;
  /* outline: solid 1px blue; */
}

.content-container ul {
  list-style-type: none;
  width: 70%;
}

.content-container li {
  font-size: 22px;
  margin-bottom: 10px;
}

.content-li-date {
  font-size: 20px;
  font-style: italic;
  /* margin: 15px 0 5px 0; */
}

.content-li-title {
  display: inline;
  font-size: 24px;
  /* outline: solid 1px blue; */
}

.content-text {
  font-size: 22px;
  margin: 20px 0;
  width: 75%;
}

.fading-text {
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

footer {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  background-color: #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  min-height: 100px;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

.footer-logo {
  margin-top: 10px;
  width: 75px;
}

.footer-logo img {
  width: 100%;
}

.github-link {
  -webkit-transition: color 150ms ease;
  font-size: 28px;
  transition: color 150ms ease;
}

.github-link:hover,
.navigation-links-container a:hover,
.resume-container a:hover,
.social-media-container a:hover,
.spc-link:hover,
.up-arrow:hover {
  color: #4be574;
}

.greeting {
  padding: 0 40px 20px 40px;
  text-shadow: 0 2px 2px #000;
}

.greeting h1 {
  font-size: 32px;
  margin: 0;
  text-align: center;
}

header {
  -ms-flex-direction: column;
  -ms-flex-pack: justify;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -webkit-box-shadow: 0 0 15px #000;
  background-color: #000;
  box-shadow: 0 0 15px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
  padding: 5px 5px 20px 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

header h1 {
  display: inline;
  font-size: 34px;
  margin: 0;
  width: auto;
  /* outline: solid 1px blue; */
}

header h1::after {
  /* color: #ffc354; */
  color: #ffa052;
  content: "Web Developer";
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  /* outline: solid 1px blue; */
}

.header-logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 75px;
  /* outline: solid 1px blue; */
}

.header-logo img {
  width: 100%;
}

header span {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

.image-of-me {
  border-radius: 50%;
  margin: 0 15px 0 0;
  width: 300px;
}

.image-text-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
}

main {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0.975)),
      to(rgba(0, 0, 0, 0.925))
    ),
    url("img/pink-bg.jpg");
  background-attachment: fixed;
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.975),
      rgba(0, 0, 0, 0.925)
    ),
    url("img/pink-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  background-color: #000;
  min-height: 100%;
  padding-top: 130px;
}

.navigation-links-container {
  position: relative;
  /* outline: solid 1px blue; */
}

.navigation-links-container a {
  -webkit-transition: color 150ms ease;
  font-size: 20px;
  font-weight: bold;
  margin: 0 15px 0 15px;
  overflow: hidden;
  padding: 0 0 15px 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 150ms ease;
  /* outline: solid 1px red; */
}

.navigation-link-dot {
  -webkit-transform: translateX(-50%);
  -webkit-transition: all 150ms ease;
  bottom: -15px;
  font-size: 14px;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);
  transition: all 150ms ease;
}
/* HAS TO BE AFTER THE SETTING ABOVE */
.active {
  bottom: 0;
  opacity: 1;
}

.navigation-links-container ul {
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* outline: solid 1px blue; */
}

.next {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding-left: 5px;
  right: 0;
}

.next,
.prev {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transform: translateY(-50%);
  -webkit-transition: color 150ms ease;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 5px #000;
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 50px;
  height: 60px;
  justify-content: center;
  position: absolute;
  text-shadow: none;
  top: 50%;
  transform: translateY(-50%);
  transition: color 150ms ease;
  width: 40px;
}

.next:hover,
.prev:hover {
  color: #4be574;
}

.photo-caption {
  font-size: 20px;
  line-height: 25px;
  margin: 0;
  height: 100px;
  overflow-y: scroll;
  padding: 0 5px 10px 10px;
  /* outline: solid 1px blue; */
}

.prev {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
  padding-right: 5px;
}

.project-container {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 600px;
  justify-content: center;
  margin: 50px auto 0 auto;
  overflow: hidden;
  width: 80%;
  /* outline: solid 1px blue; */
}

.project-photo img {
  height: 100%;
  width: 100%;
}

.project-photo-title {
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  text-transform: uppercase;
}

.resume-container {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 40px;
  height: 150px;
  justify-content: center;
  margin: auto;
  width: 700px;
  /* outline: solid 1px blue; */
}

.resume-container a {
  overflow: hidden;
  padding-bottom: 15px;
  position: relative;
  text-decoration: none;
  /* outline: solid 1px blue; */
}

.resume-container a,
.social-media-container i,
.spc-link {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.resume-container a:hover .social-media-name,
.social-media-container a:hover .social-media-name {
  bottom: 0;
}

.skills-container {
  padding-top: 25px;
  /* outline: solid 1px blue; */
}

.skills-container ul {
  -ms-flex-align: start;
  -ms-flex-direction: row;
  -ms-flex-pack: space-evenly;
  -ms-flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: space-evenly;
  align-items: flex-start;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10px;
  width: 80%;
  /* outline: solid 1px blue; */
}

.skills-container li {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  color: #ffa052;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 22px;
  margin-bottom: 10px;
  position: relative;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  /* outline: solid 1px blue; */
}

.skills-container li img {
  margin-left: 20px;
  width: 28px;
}

.slide {
  -webkit-transform: translateX(150%);
  -webkit-transition: all 1000ms ease;
  background-color: #000;
  min-height: 100%;
  opacity: 0;
  position: absolute;
  transform: translateX(150%);
  transition: all 1000ms ease;
  width: 100%;
}

.slide a {
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}

.slide a:hover {
  color: #4be574;
}

.slide-container {
  height: 500px;
  margin: 0 auto;
  position: relative;
  width: 1000px;
  /* outline: solid 1px blue; */
}

.slide.current {
  -webkit-transform: translateX(0);
  opacity: 1;
  transform: translateX(0);
}

.social-media-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  height: 150px;
  justify-content: space-around;
  margin: auto;
  width: 700px;
  /* outline: solid 1px blue; */
}

.social-media-container a {
  overflow: hidden;
  padding: 0 20px 15px 20px;
  position: relative;
  /* outline: solid 1px red; */
}

.social-media-name {
  -webkit-transform: translateX(-50%);
  -webkit-transition: bottom 150ms ease;
  bottom: -20px;
  font-size: 16px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  transition: bottom 150ms ease;
}

.up-arrow {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px #000;
  -webkit-transition: all 150ms ease;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  bottom: 25%;
  box-shadow: 0 0 5px #000;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-size: 35px;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: -60px;
  text-decoration: none;
  text-shadow: none;
  transition: all 150ms ease;
  width: 40px;
  z-index: 3;
}

@media (max-width: 1300px) {
  .certification-container,
  .content-container ul,
  .content-text,
  .project-container {
    width: 90%;
  }

  .certification-container img {
    width: 500px;
  }

  .image-of-me {
    width: 200px;
  }

  .project-container {
    height: 525px;
  }

  .project-photo-title {
    font-size: 22px;
  }

  .slide-container {
    height: 400px;
    width: 800px;
  }
}

@media (max-width: 1000px) {
  .navigation-links-container a {
    font-size: 18px;
  }

  .photo-caption {
    font-size: 18px;
  }

  .project-container {
    height: 475px;
  }

  .slide-container {
    height: 350px;
    width: 700px;
  }

  .resume-container {
    height: 125px;
    font-size: 35px;
    width: 400px;
  }
}

@media (max-width: 700px) {
  .burger-menu {
    -ms-flex-align: start;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 45px;
    z-index: 2;
    /* outline: solid 1px blue; */
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .burger-bars {
    -webkit-transition: all 150ms ease;
    background-color: #a567e7;
    border-radius: 5px;
    height: 2px;
    margin: 3px 0;
    opacity: 1;
    transition: all 150ms ease;
    width: 35px;
  }

  .burger-bars-remove {
    opacity: 0;
  }

  .burger-bars-rotate-clockwise {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #4be574;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(45deg);
  }

  .burger-bars-rotate-counter-clockwise {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    background-color: #4be574;
    height: 3px;
    position: absolute;
    top: 12px;
    transform: rotate(-45deg);
  }

  .burger-overlay {
    -webkit-transition: all 500ms ease;
    background-color: rgba(0, 0, 0, 0.95);
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 500ms ease;
    width: 0;
    z-index: 1;
  }

  .burger-overlay-dim {
    opacity: 1;
    width: 100%;
  }

  .certification-container {
    width: 100%;
  }

  .certification-container div {
    margin: 20px 0;
  }

  .certification-container img {
    width: 400px;
  }

  .content-container,
  .greeting {
    padding: 15px 0 25px 0;
  }

  .content-container h2 {
    font-size: 24px;
    margin-left: 15px;
    padding: 0;
    width: 75%;
  }

  .content-container ul {
    padding: 0 15px 0 15px;
    width: 100%;
  }

  .content-container li {
    font-size: 20px;
  }

  .content-li-title {
    font-size: 20px;
  }

  .content-text {
    font-size: 20px;
    padding: 0 15px 0 15px;
    width: 100%;
  }

  .footer-logo {
    width: 50px;
  }

  .github-link:hover,
  .next:hover,
  .photo-caption a:hover,
  .prev:hover,
  .resume-container a:hover,
  .social-media-container a:hover,
  .spc-link:hover,
  .up-arrow:hover {
    color: #a567e7;
  }

  .greeting h1 {
    font-size: 28px;
  }

  header {
    height: 105px;
    padding: 5px 10px 0 5px;
  }

  header h1 {
    font-size: 26px;
  }

  header h1::after {
    font-size: 16px;
  }

  .header-logo {
    right: 5px;
    /* top: 5px; */
    width: 50px;
  }

  header span {
    font-size: 14px;
  }

  .image-of-me {
    margin: 0 0 0 0;
    width: 150px;
  }

  .image-text-container {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
  }

  main {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(0, 0, 0, 1)),
        to(rgba(0, 0, 0, 0.8))
      ),
      url("/img/pink-bg-mobile.jpg");
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.8)
      ),
      url("/img/pink-bg-mobile.jpg");
    padding-top: 120px;
  }

  .navigation-links-container {
    -webkit-transition: right 500ms ease;
    background-color: #000;
    padding-left: 20px;
    position: absolute;
    right: -100%;
    top: 100%;
    transition: right 500ms ease;
    /* outline: solid 1px blue; */
  }

  .navigation-links-container a {
    font-size: 26px;
    margin: 0;
    padding: 0 0 0 15px;
  }

  .navigation-link-dot {
    -webkit-transform: translate(-50%, 50%);
    bottom: 50%;
    left: 0;
    position: absolute;
    transform: translate(-50%, 50%);
  }

  .navigation-links-container li {
    margin-bottom: 25px;
  }

  .navigation-links-container ul {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    padding: 15px 20px 0 0;
  }

  .next,
  .prev {
    /* -webkit-transform: translateY(0); */
    font-size: 42px;
    height: 50px;
    /* top: 25%; */
    /* transform: translateY(0); */
    width: 35px;
  }

  .next {
    /* border-top-left-radius: 0; */
    right: 0;
  }

  .photo-caption {
    font-size: 16px;
    padding: 0 10px 5px 15px;
  }

  .prev {
    /* border-top-right-radius: 0; */
    left: 0;
  }

  .project-container {
    height: 450px;
    margin: 30px auto 0 auto;
    width: 100%;
  }

  .project-photo-title {
    font-size: 18px;
    padding: 5px 5px 5px 15px;
  }

  .skills-container {
    padding-top: 20px;
  }

  .slide {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .slide-container {
    height: 300px;
    width: 100%;
  }

  .show-navigation-links {
    right: 0;
  }

  .skills-container ul {
    -ms-flex-direction: column;
    -ms-flex-pack: start;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: start;
    flex-direction: column;
    justify-content: flex-start;
  }

  .social-media-container {
    font-size: 40px;
    height: 125px;
    width: 400px;
  }

  .social-media-container a {
    padding: 0;
  }

  .social-media-name {
    display: none;
  }

  .up-arrow {
    bottom: 10px;
    font-size: 30px;
    width: 35px;
  }
}

@media (max-width: 400px) {
  .certification-container img {
    width: 100%;
  }

  .content-container h2 {
    width: 90%;
  }

  .container-heading-underline {
    width: 100%;
  }

  .content-li-title {
    display: block;
  }

  header h1 {
    font-size: 24px;
  }

  header h1::after {
    font-size: 14px;
  }

  .header-logo {
    width: 45px;
  }

  .next,
  .prev {
    top: 25%;
  }

  .project-container {
    height: 300px;
  }

  .resume-container {
    height: 100px;
    font-size: 30px;
    width: 100%;
  }

  .skills-container {
    padding-top: 10px;
  }

  .social-media-container {
    font-size: 30px;
    height: 100px;
    width: 100%;
  }
}
